<h3 *ngIf='languages.length == 0'>Loading...</h3>
<div class='container' *ngIf='languages.length > 0' >
  <h3>Employee Form</h3>
  <form #form='ngForm' (submit)='submitForm(form)'>
    <div class=''>
        <h3> ngx bootstrap controls</h3>
        <div class='container'>

              <div class="col-xs-12 col-12 col-md-4 form-group">
                  <input type="text"
                     #dp="bsDatepicker"
                        name='startDate'
                         placeholder='Datepicker'
                         class='form-control'
                         [bsValue]='startDate'
                         [(ngModel)]='startDate'
                         bsDatepicker>
                </div>
                <div>
                    <timepicker name='mytime'
                    [(ngModel)]='mytime'>
                  </timepicker>
                </div>
                <div>
                    <button type='button' class='btn'
                            [class.btn-primary]="onOffSwitch==='On'"
                            [(ngModel)]='onOffSwitch'
                             name='onOffSwitch'
                            btnCheckbox
                            btnCheckboxTrue='On'
                            btnCheckboxFalse='Off'>
                    {{onOffSwitch}}
                  </button>
                </div>
                <div>
                  <!-- bootstrap radio buttons -->
                    <div class="btn-group">
                        <label class='btn btn-primary'
                               name='taxType'
                               [(ngModel)]='taxType'
                                btnRadio='W2'>
                            Type W2
                        </label>
                        <label class='btn btn-primary'
                                name='taxType'
                                [(ngModel)]='taxType'
                                btnRadio='1099'>
                            Type 1099
                        </label>
                        <label class='btn btn-primary'
                                name='taxType'
                                [(ngModel)]='taxType'
                                btnRadio='Other'>
                          Other Type
                      </label>
                      </div>
                      <h3>{{taxType}}</h3>
                </div>




        </div>
    </div>
    <div class='form-group'>
        <rating name='postRating'
                [(ngModel)]='postRating'
                [max]='10' >

        </rating>
        <h3>{{postRating}}</h3>

      </div>




    <div class='form-group' [class.has-error]='firstName.invalid && firstName.touched'>
      <label class='control-label' >First Name</label>
      <!-- Examples of two way data binding -->
      <input #firstName='ngModel' pattern='...+' required type='text' class='form-control' name='firstName' [(ngModel)]='model.firstName' >
      <!-- <input  type='text' class='form-control' name='firstName'
            [ngModel]='model.firstName'
            (ngModelChange)='model.firstName=$event'> -->
      <!-- <input  type='text' class='form-control' name='firstName'
            [ngModel]='model.firstName'
            (input)='firstNameToUpperCase($event)' > -->
            <!-- FIX-ME (ngModelChange)='firstNameToUpperCase($event)'> -->
        <div *ngIf='firstName.invalid && firstName.touched' class='alert alert-danger'>
          First Name is required, and must be at least 3 characters.app
        </div>
      </div>


    <!-- <h5>NgModel properties</h5>
    <div>firstName.invalid= {{ firstName.invalid }}</div>
    <div>firstName.dirty= {{ firstName.dirty }}</div> -->

    <!-- <h3>Angular Css Classes</h3>
    <div>{{ firstName.className }}</div> -->

    <div class='form-group'>
        <label >Last Name</label>
        <input #lastName='ngModel' required type='text' class='form-control' name='lastName'
                [(ngModel)]='model.lastName'>
        <div *ngIf='lastName.invalid && lastName.touched' class='alert alert-danger'>
            Last Name is required
        </div>
    </div>
  <div class='checkbox'>
      <label>
        <input type='checkbox' name='is-full-time'
                [(ngModel)]='model.isFullTime'> Full Time Employee
      </label>
    </div>

    <label>Payment Type</label>
    <div class='radio'>
      <label>
        <input type='radio' name='paymentType' value='w2' checked
              [(ngModel)]='model.paymentType'>
        W2
      </label>
    </div>
    <div class='radio'>
        <label>
          <input type='radio' name='paymentType' value='1099'
          [(ngModel)]='model.paymentType'>
          1099
        </label>
    </div>

    <div class='form-group' [class.has-error]='hasPrimaryLanguageError'>
        <label class='control-label' >Primary Language</label>
        <select class='form-control'
                name='primaryLanguage'
                #primaryLanguage='ngModel'
                (change)='validatePrimaryLanguage(primaryLanguage.value)'
                (blur)='validatePrimaryLanguage(primaryLanguage.value)'
                [(ngModel)]='model.primaryLanguage'>
          <option value='default'>Select a language...</option>
          <option *ngFor='let lang of languages'>
              {{ lang }}
          </option>
        </select>
        <div *ngIf="primaryLanguage.value=='default' && primaryLanguage.touched" class='alert alert-danger'>
            Please select a language
          </div>
      </div>
<!--
      <div class='form-group'>
          <label >Date Hired</label>
          <input  type='date' class='form-control' >
      </div>
      <div class='form-group'>
          <label >Color field</label>
          <input type='color' class='form-control'>
      </div> -->
    <button class='btn btn-primary' type='submit'
            [disabled]='form.invalid || hasPrimaryLanguageError'>Ok</button>
  </form>
  Model: {{ model | json }}
  <br>
  Angular: {{ form.value | json }}
</div>
<div>
  <h6>Properties form ngModel</h6>
  Valid = {{ form?.valid }}
  Dirty = {{ form?.dirty }}
</div>




